.products {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 60px;
}
.products h1 {
    color: #F2E9DC;
    font-weight: 600;
}
.cart {
    background-color: #91C499;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px 10px 0 10px;
}
.cart-item {
    width: 90%;
    height: 60px;
    background-color: #F2E9DC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all 350ms;
    justify-content: space-between;
}
.cart-item:hover {
    scale: 1.01;
}
.cart-item h4 {
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    color: #808F85;
}
.pc {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pc i {
    transition: all 300ms;
}
.pc i:hover {
    scale: 1.05;
    rotate: -8deg;
}
.all {
    width: 300px;
    height: 60px;
    background-color: #91C499;
    border-radius: 0 0 10px 10px;
    float: right;
    margin-left: auto;
    margin-right: 10%;
    padding: 9px;
    padding-top: 0;
}
.ic {
    background-color: #F2E9DC;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}
.ic h4 {
    margin-top: auto;
    margin-bottom: auto;
    color: #808F85;
}

