*{
    color: #F2E9DC;
    font-weight: 600;
}
*::selection {
    color: #F2E9DC;
    background-color: #91C499;
}
.sign-up {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/Music_Store/İmg/gitar3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sign-box {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 0 2px white;
}
.input {
    display: flex;
    flex-direction: column;
}
.input input {
    background-color: #808F85;
    border: transparent;
    padding: 8px;
    border-radius: 5px;
}
.input input::placeholder {
    color: #F2E9DC;
    font-weight: 300;
}
.baslik h1 {
    font-weight: 600;
}
