.about-h {
    height: 100vh;
    width: 100%;
    color: white;
    background: url(/Music_Store/İmg/drum.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 72px;
}
.prlk {
    width: 100%;
    height: 100%;
    /* backdrop-filter: brightness(0.5); */
    padding: 350px;
}
.blr-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
}
.blr-a h1 {
    font-weight: 600;
    text-shadow: 0 0 20px;
}
.abt h3{
    font-weight: 600;
}
