.main-content {
    height: fit-content;
    width: 100%;
    margin-top: 74px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(/Music_Store/İmg/vintage.jpg);
    background-position: center;
    background-size: cover;
}
.l-c img{
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.inner-content {
    background-color: #f2e9dc65;
    backdrop-filter: blur(10px);
    height: fit-content;
    padding-top: 40px;
    padding: 40px;
    border-radius: 10px;
}
.l-c h2 {
    font-weight: 600;
    color: #f2e9dc;
}
.r-c {
    width: 600px;
    margin-top: 60px;
}
.r-c h4{
    color: #f2e9dc;
    font-weight: 500;
}
.add-cart {
    padding: 8px;
    width: 200px;
    color: #f2e9dc;
    border-radius: 5px;
    border: transparent;
    background-color: #808f85b7;
    transition: all 300ms;
}
.add-cart:hover {
    background-color: #6b796fe0;
    scale: 1.05;
}
.altt {
    margin-top: 140px;
}
.ozel li{
    color: #c4baae;
    font-size: 20px;
    font-weight: 300;
    list-style: inside disc;
}